{% extends "base.html" %}
{% load crispy_forms_filters %}


{% block content %}
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-5">
        <div class="card mt-3">

          <div class="card-title text-center">
            <h1>Login</h1>
          </div>

          <div class="card-body">
            {% if form.errors %}
              <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            <form method="post" action="{% url 'bp_manager:user-login' %}">
              {% csrf_token %}
              {{ form|crispy }}
              <div class="d-grid justify-content-center">
                <input type="submit" value="Login" class="btn btn-primary"/>
                <input type="hidden" name="next" value="{{ next }}"/>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock %}
