html, body {
    height: 100%;
    --navi-color-dark: #070F2B;
    --navi-color-medium: #1B1A55;
    --navi-color-light: #535C91;
    --navi-color-bg: #9290C3;
}

body {
    background-color: var(--navi-color-bg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.fixed-square {
    width: 100%;
    position: relative;
}

.navbar {
    background-color: var(--navi-color-dark);
}

.card {
    background-color: var(--navi-color-medium);
    color: white;
}

.card.fixed-square {
    background-color: var(--navi-color-light);
}

.form-text {
    color: white;
}

.form-control {
    background-color: var(--navi-color-light);
}

.btn {
    background-color: var(--navi-color-dark);
}

.page-link {
    background-color: var(--navi-color-dark);
    color: white;
    border-color: var(--secondary);
}

.page-item.disabled .page-link {
    background-color: var(--navi-color-light);
    color: white;
    border-color: var(--secondary);
}

.page-item.active .page-link {
    background-color: var(--navi-color-medium);
    color: white;
    border-color: var(--secondary);
}