{% extends "base.html" %}


{% block content %}

  <div class="container">
    <div class="row">
      {% for blueprint in blueprint_list %}
        <div class="col-12 col-md-3">
          <div class="card fixed-square my-3 bg-gradient">
            <div class="card-body p-1">
              <img src="{{ blueprint.blueprint_image.url }}" class="card-img-top" alt="{{ blueprint.title }}">
            </div>

            <div class="card-footer">
              <h5 class="card-title text-truncate">{{ blueprint.title }}</h5>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}
