{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}

  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-10">
      <div class="card my-3 text-light bg-gradient">
        <h1 class="mb-1 text-center card-header">{{ blueprint.title }}</h1>
        <div class="card-body">
          <div class="row g-1">
            <div class="col-md-6">
              <div class="card-footer">
                <img src="{{ blueprint.blueprint_image.url }}" class="img-fluid rounded"
                     alt="{{ blueprint.title }}">

                {% if user.is_authenticated and user == blueprint.user %}
                  <div class="btn-group d-flex justify-content-center mt-2">
                    <a href="{% url 'bp_manager:blueprint-update' pk=blueprint.pk %}"
                       class="btn text-white text-center bg-gradient mx-2">
                      Update
                    </a>

                    <a href="{% url 'bp_manager:blueprint-delete' pk=blueprint.pk %}"
                       class="btn text-white text-center bg-gradient mx-2">
                      Delete
                    </a>
                  </div>
                {% endif %}
              </div>
            </div>

            <div class="col-md-6">
              <div class="card-footer">
                <ul class="list-group text-light">
                  <li class="list-group-item bg-gradient">
                    <h5>Author</h5>
                    <div class="card-footer">
                      <a class="fw-bold text-white"
                         href="{% url 'bp_manager:index' %}?username={{ blueprint.user.username }}&query={{ request.GET.query }}">
                        {{ blueprint.user.username }}
                      </a>
                    </div>
                  </li>

                  <li class="list-group-item bg-gradient">
                    <h5>Description</h5>
                    <div class="card-footer">
                      <p>{{ blueprint.description }}</p>
                    </div>
                  </li>

                  <li class="list-group-item bg-gradient">
                    <h5>Tags</h5>
                    <div class="card-footer">
                      {% for tag in blueprint.tags.all %}
                        <a class="fw-bold text-white me-2"
                           href="{% url 'bp_manager:index' %}?tag={{ tag.name }}&query={{ request.GET.query }}">
                          {{ tag.name }}
                        </a>
                      {% endfor %}
                    </div>
                  </li>

                  <li class="list-group-item bg-gradient">
                    <h5>Blueprint String</h5>
                    <div class="card-footer">
                      <div class="row text-center">
                        <button class="copyBtn btn btn-secondary bg-gradient" data-copy-target="blueprint_string">
                          Copy
                        </button>
                        <p class="mt-2" id="copyMessage"></p>
                      </div>

                      <p class="overflow-auto" id="blueprint_string"
                         style="max-height: 150px">{{ blueprint.blueprint_string }}</p>
                    </div>
                  </li>

                  <li class="list-group-item bg-gradient">
                    <h5>Created at</h5>
                    <div class="card-footer">
                      <p>{{ blueprint.created_time }}</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="card-footer">
          <ul id="comments" class="list-group">
            {% if not comment_to_edit %}
              <li class="list-group-item pt-4">
                {% if user.is_authenticated %}
                  <form class="d-flex" method="POST" action="{% url 'bp_manager:add-comment' %}">
                    {% csrf_token %}
                    <div class="flex-grow-1">
                      {{ commentary_form|crispy }}
                    </div>
                    <div class="d-flex flex-column ms-3">
                      <button class="like-btn text-light mb-2" type="submit">
                        <i class='bx bx-comment-add bx-sm'></i>
                      </button>
                      <button class="like-btn text-light mb-2" type="reset">
                        <i class='bx bx-eraser bx-sm'></i>
                      </button>
                    </div>
                  </form>
                {% else %}
                  <div class="d-flex justify-content-center">
                    <p>
                      You should
                      <a class="fw-bold text-white" href="{% url 'login' %}?next={{ request.path }}">log in </a>
                      to add comments!
                    </p>
                  </div>
                {% endif %}
              </li>
            {% endif %}

            {% for comment in comments %}
              <li id="comment-{{ comment.pk }}" class="list-group-item">
                <div class="d-flex justify-content-between align-items-center">
                  <h6 class="fw-bold">{{ comment.user.username }}</h6>
                  {% if user == comment.user and not comment_to_edit %}
                    <div>
                      <a href="{% url 'bp_manager:comment-update' comment.pk %}#comment-{{ comment.pk }}"
                         class="link text-white mx-3" style="text-decoration: none">
                        <i class='bx bx-edit-alt bx-sm'></i>
                      </a>
                      <form action="{% url 'bp_manager:comment-delete' comment.pk %}" method="post"
                            style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="like-btn text-light">
                          <i class='bx bx-comment-x bx-sm'></i>
                        </button>
                      </form>
                    </div>
                  {% endif %}
                </div>

                {% if comment == comment_to_edit %}
                  <form method="POST" action="{% url 'bp_manager:comment-update' comment.pk %}" class="d-flex">
                    {% csrf_token %}
                    <div class="flex-grow-1">
                      {{ edit_comment_form|crispy }}
                    </div>

                    <div class="d-flex flex-column ms-3">
                      <button class="like-btn text-light mb-2" type="submit">
                        <i class='bx bx-save bx-sm'></i>
                      </button>
                      <a href="{% url 'bp_manager:blueprint-detail' blueprint.pk %}#comment-{{ comment.pk }}"
                         class="link text-white">
                        <i class='bx bx-undo bx-sm'></i>
                      </a>
                    </div>
                  </form>
                {% else %}
                  <hr class="m-0">
                  <p>{{ comment.content }}</p>
                {% endif %}

                <small class="d-flex justify-content-end">{{ comment.created_time }}</small>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'js/copy_to_clipboard.js' %}"></script>
{% endblock %}
